ul {
    padding: 1rem;
    list-style-type: none;
}

a:link {
    color: green;

}

.prime_style {
    background-color: #1B1C1D;
    color: white;
    font-size: 1.1rem;
}

.social button {
    margin: 1rem;
}

.social * {
    margin: 0.5rem;
}

.quotes {
    color: white;
    background-color: #1B1C1D;
}

html,
body {
    height: 100%;
}

.footer {
    background-color: #1B1C1D;
    color: white
}

li a {
    color: white !important;
}

@media (max-width:900px) {
    .display_900 {
        flex-direction: column !important;
    }
}

@media (max-width:900px) {
    .display_600 {
        flex-direction: column !important;
    }
}

@media (max-width:900px) {
    .display_400 {
        flex-direction: column !important;
    }
}