ul {
    padding: 1rem;
    list-style-type: none;
}

.prime_style {
    background-color: #1B1C1D;
    color: white;
    font-size: 1.1rem;
}

li a {
    color: white !important;
}


body h1{
    font-size: 2rem;
}

@media screen and (min-width: 768px) {
    .no-justify-center{
      justify-content: initial !important;
      color:   red;
    }
  }
  